{
  "extends": "stylelint-config-recommended",
  "rules": {
    "indentation": 2,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["if", "else", "function", "return", "while", "for"]
    }],
    "declaration-colon-space-after": "always-single-line"
  }
}